h1 {
  text-align: center;
}

button, label {
  display: block;
}

button {
  margin: auto;
  margin-bottom: 20px;
}

label {
  text-align: center;
}

.items-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.item {
  margin: 10px;
  text-align: center;
  position: relative;
  flex: 1 1 auto;
  min-width: max-content;
}

.tiers {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tiers img {
  width: 200px;
  height: 200px;
  cursor: pointer;
}

.tiers img.selected {
  border: 3px solid #000;
}

.arrow {
  position: relative;
  top: 50%;
  font-size: 24px;
  user-select: none;
  cursor: pointer;
  z-index: 1;
}

.arrow.left {
  left: 3px;
}

.arrow.right {
  right: 3px;
}

.result-message {
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
}