@font-face {
  font-family: 'LazyDog';
  src: url('/fonts/lazy_dog.ttf')
}

@font-face {
  font-family: 'OctoberCrow';
  src: url('/fonts/october_crow.ttf')
}

body{
  background: rgba(0, 0, 0, 0.78);
}

/* Center align the main heading */
h1 {
  text-align: center;
  font-family: OctoberCrow;
  font-size:65px 
}

h2{
  font-family: LazyDog;
  color: rgb(33, 156, 35);
  font-size: 36px;
}

p{
  color: rgb(45, 207, 47);
  text-align: center;
}

/* Ensure buttons and labels are displayed as block elements */
button, label {
  display: block;
}

/* Center the button and add bottom margin */
button {
  margin: auto;
  margin-bottom: 20px;
}

/* Center align the label text */
label {
  text-align: center;
}

/* Container for items, using flexbox to wrap and evenly space items */
.items-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* Style for individual item containers */
.item {
  margin: 10px;
  text-align: center;
  position: relative;
  flex: 1 1 auto;
  min-width: max-content;
}

/* Container for tier images, centered using flexbox */
.tiers {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Style for tier images, with a pointer cursor */
.tiers img {
  width: 200px;
  height: 200px;
  cursor: pointer;
}

/* Style for the selected tier image, adding a border */
.tiers img.selected {
  border: 3px solid #000;
}

/* Style for arrow elements, positioned and styled for user interaction */
.arrow {
  position: relative;
  top: 50%;
  font-size: 24px;
  user-select: none;
  cursor: pointer;
  z-index: 1;
}

/* Additional positioning for left arrow */
.arrow.left {
  left: 3px;
}

/* Additional positioning for right arrow */
.arrow.right {
  right: 3px;
}

/* Style for the result message, with margin and bold font */
.result-message {
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
}

.switch {
  position: relative;
  display: block;
  width: 40px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  transition: all 0.3s;
  margin: auto;
  margin-bottom: -10px;
}
.switch::after {
  content: '';
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius:50%;
  background-color: white;
  top: 1px;
  left: 1px;
  transition: all 0.3s;
}

.checkbox:checked + .switch::after {
  left : 20px;
}
.checkbox:checked + .switch {
  background-color: #7983ff;
}
.checkbox {
  display : none;
}

button{
  font-size: 22px;
  border-radius: 13px;
  border-color: rgb(33, 156, 35);
  color: rgb(45, 207, 47);
  background-color: transparent;
  transition: 0.5s;
}

button:hover{
  border-radius: 20px;
  border-color: rgb(33, 156, 35);
  color: white;
  background-color: rgb(33, 156, 35);
  transition: 0.5s;
}